@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  @page {
    size: A4 portrait;
    margin: 10mm;
  }

  body {
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }

  * {
    box-shadow: none !important;
  }

  .print\:break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}
